@font-face {
    font-family: 'Lato';
    src:
        url('../../shared/assets/fonts/Lato-Light.woff') format('woff'),
        url('../../shared/assets/fonts/Lato-Light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Lato';
    src:
        url('../../shared/assets/fonts/Lato-Regular.woff') format('woff'),
        url('../../shared/assets/fonts/Lato-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Jost';
    src:
        url('../../shared/assets/fonts/Jost-Light.woff') format('woff'),
        url('../../shared/assets/fonts/Jost-Light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Jost';
    src:
        url('../../shared/assets/fonts/Jost-Regular.woff') format('woff'),
        url('../../shared/assets/fonts/Jost-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Jost';
    src:
        url('../../shared/assets/fonts/Jost-Medium.woff') format('woff'),
        url('../../shared/assets/fonts/Jost-Medium.woff2') format('woff2');
    font-weight: 500;
}
