@import url('./reset.scss');
@import url('./variables/global.scss');
@import url('./theme/dark.scss');
@import url('./theme/light.scss');
@import url('./normalize.scss');
@import url('./fonts.scss');

body {
    font: var(--font-m);
    font-weight: normal;
    color: var(--primary-color);
    background-color: var(--bg-color);
}

.app {
    min-height: 100vh;
}

.page-content {
    display: flex;
}

.page-wrapper {
    padding: var(--header-height) 0 0 0;
}

.sb-show-main[data-preview*='my-story-id'] {
    background-color: none !important;
}
