@import './reset';
@import './variables/global';
@import './theme/dark';
@import './theme/light';
@import './normalize';
@import './fonts';

body {
    font: var(--font-m);
    font-weight: normal;
    color: var(--primary-color);
    background-color: var(--bg-color);
}

.app {
    min-height: 100vh;
}

.page-content {
    display: flex;
}

.page-wrapper {
    padding: var(--header-height) 0 0 0;
}

.sb-show-main[data-preview*='my-story-id'] {
    background-color: none !important;
}

h1,h2,h3,h4,h5 {
    font-family: Jost , sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    
}

h4,h5 {
    font-size: 83px;
    line-height: 114%;
    text-shadow: var(--shadow-title);
    text-transform: uppercase;
    letter-spacing: 1.66px;
}