@import './reset';
@import './variables/global';
@import './variables/media-variables';
@import './theme/dark';
@import './theme/light';
@import './normalize';
@import './fonts';

body {
    font: var(--font-m-lato);
    color: var(--primary-color);
    background-color: var(--bg-color);

    @media #{$tablets} {
        font: var(--font-s-lato);
    }
}

.app {
    position: relative;
    min-height: 100vh;
}

.page-content {
    display: flex;
    padding: calc(var(--header-height) + 1rem) 0 0 0;
}

.sb-show-main[data-preview*='my-story-id'] {
    background-color: none !important;
}

