.loginForm {
    padding: 15px 0;

    @media screen and ( width <= 768px ) {
        padding: 0;
    }
}

:global {
    .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
        border-start-end-radius: 4px !important;
        border-end-end-radius: 4px !important;
    }
}

.input {
    width: 100%;
    margin-bottom: 20px;

    @media screen and ( width <= 768px ) {
        margin-bottom: 5px;
    }
}
