@import 'scss-variables';

:root {
    // * SIZE S Lato
    --font-size-s-lato: 0.7rem;
    --line-hight-s-lato: 0.6rem;
    --font-family-s-lato: 'Lato', sans-serif;
    --font-s-lato: 400 var(--font-size-s-lato) / var(--line-hight-s-lato) var(--font-family-s-lato);

    // * SIZE M Lato
    --font-size-m-lato: 1rem;
    --line-hight-m-lato: 0.9rem;
    --font-family-m-lato: 'Lato', sans-serif;
    --font-m-lato: 400 var(--font-size-m-lato) / var(--line-hight-m-lato) var(--font-family-m-lato);

    // * SIZE L Lato
    --font-size-l-lato: 1.125rem;
    --line-hight-l-lato: 0.9rem;
    --font-family-l-lato: 'Lato', sans-serif;
    --font-l-lato: 400 var(--font-size-l-lato) / var(--line-hight-l-lato) var(--font-family-l-lato);

    // * SIZE XL Lato
    --font-size-xl-lato: 2.125rem;
    --line-hight-xl-lato: 1.6rem;
    --font-family-xl-lato: 'Lato', sans-serif;
    --font-xl-lato: 400 var(--font-size-xl-lato) / var(--line-hight-xl-lato) var(--font-family-xl-lato);

    // * SIZE M Jost
    --font-size-m-jost: 1.25rem;
    --line-hight-m-jost: 1rem;
    /* stylelint-disable-next-line */
    --font-family-m-jost: 'Jost', sans-serif;
    --font-m-jost: var(--font-size-m-jost) / var(--line-hight-m-jost) var(--font-family-m-jost);

    // * SIZE L Jost
    --font-size-l-jost: 2.063rem;
    --line-hight-l-jost: 1rem;
    /* stylelint-disable-next-line */
    --font-family-l-jost: 'Jost', sans-serif;
    --font-l-jost: var(--font-size-l-jost) / var(--line-hight-l-jost) var(--font-family-l-jost);

    // * SIZE XL Jost
    --font-size-xl-jost: 5rem;
    --line-hight-xl-jost: 1rem;
    /* stylelint-disable-next-line */
    --font-family--xl-jost: 'Jost', sans-serif;
    --font-xl-jost: var(--font-size-xl-jost) / var(--line-hight-xl-jost) var(--font-family-xl-jost);

    // * FONT FAMILY
    /* stylelint-disable-next-line */
    --font-family-Jost: 'Jost', sans-serif;
     /* stylelint-disable-next-line */
    --font-family-Lato: 'Lato', sans-serif;

    // * HEADER HEIGHT
    --header-height: 4.5rem;

    // * SIDE-BAR WIDTH
    --side-bar-width: 30%;

    // * Z-INDEX
    --z-index-sidebar: 1;
    --z-index-header: 2;
    --z-index-modal: 5;

    // * OVERLAY COLOR
    /* stylelint-disable-next-line */
    --overlay-color: rgba(0, 0, 0, 0.9);

    // * TIME
    --delay-transition: .3s;
    --delay-animation: .5s;

    // * MEDIA
    @media #{$large-displays} {
        --header-height: 4.5rem;
    }
    
    @media #{$tablets} {
        --font-size-xl-lato: 2rem;
        --font-size-l-jost: 2rem;
        --font-size-xl-jost: 4rem;
        --font-size-m-jost: 1rem;
        --header-height: 4rem;
    }
    
    @media #{$mobile-devices-portrait} {
        --font-size-xl-lato: 1.6rem;
        --font-size-l-jost: 1.8rem;
        --font-size-xl-jost: 3rem;
        --font-size-m-jost: .9rem;
        --header-height: 3rem;
        --side-bar-width: 50%;
    }
    
    @media #{$small-mobile-devices-portrait} {
        --font-size-l-jost: 1.5rem;
        --font-size-xl-jost: 2.5rem;
        --font-size-m-jost: .8rem;
        --side-bar-width: 80%;
    }
}
