$small-mobile-devices-portrait: 'screen and ( width <= 576px )';
$mobile-devices-portrait: 'screen and ( width <= 768px )';
$mobile-devices-landscape: 'screen and (orientation: landscape) and ( width <= 767px )';
$tablets-landscape: 'screen and (orientation: landscape) and ( width <= 992px )';
$tablets: 'screen and ( width <= 992px )';
$laptops: 'screen and ( width <= 1200px )';
$large-displays: 'screen and ( width <= 1400px )';
$extra-large-displays: 'screen and ( 1400px < width)';
$mouse-devices: '(hover: hover) and (pointer: fine)';
