@import 'scss-variables';

.sideBar {
    position: fixed;
    z-index: var(--z-index-sidebar);
    top: var(--header-height);
    bottom: 0;
    left: 0;

    display: none;

    width: 50px;
    width: var(--side-bar-width);
    height: 50px;

    border-radius: 100%;

    transition: width 0.3s;
    
    @media #{$tablets} {
        display: block;
    }
}


.background {
    position: absolute;
    z-index: var(--z-index-sidebar);
    top: 0;
    bottom: 0;
    left: 0;

    width: var(--side-bar-width);

    background-color: var(--inverted-bg-color);
}

.items {
    display: flex;
    flex-direction: column;
}

.link {
    display: flex;
    align-items: center;
}

.icon {
    fill: var(--inverted-primary-color);
}

.item {
    margin-left: 15px;
    opacity: 1;
    transition: all 0.2s;
}

.collapsedBtn {
    position: absolute;
    right: -35px;
    bottom: 32px;
}

.lang {
    margin-left: 20px;
}

.switchers {
    position: absolute;
    bottom: 30px;
    display: flex;
    align-items: center;
}

.collapsed {
    width: var(--side-bar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    .lang {
        margin-left: 0;
    }

    .item {
        width: 0;
        height: 0;
        opacity: 0;
        transition: all 0.2s;
    }

    .link {
        margin-bottom: 10px;
    }
}
