.customTitle {
    margin: 0;
    color: var(--primary-color) !important;
}

h1.customTitle.h1 {
    font: var(--font-l-jost);
}
 
h2.customTitle.h2 {
    font: var(--font-xl-jost);
    text-shadow: var(--shadow-title);
    text-transform: uppercase;
    letter-spacing: 1.66px;
}

h3.customTitle.h3 {
    font: var(--font-m-jost);
    text-transform: uppercase;
}

h1.h1.primary ,
h2.h2.primary ,
h3.h3.primary {
    margin-bottom: 5px;
}

:global {
    h1.css-dev-only-do-not-override-fpg3f5.ant-typography, div.css-dev-only-do-not-override-fpg3f5.ant-typography-h1, div.css-dev-only-do-not-override-fpg3f5.ant-typography-h1>textarea, .css-dev-only-do-not-override-fpg3f5.ant-typography h1 {
        margin-bottom: 0;
    }

    .ant-typography {
        color: var(--primary-color);
    }
}
