@import 'scss-variables';

.wrapper {
    display: flex;
    flex-direction: column;
}

.label {
    font: var(--font-m);
    line-height: 138%;
    color: var(--p-color);
    letter-spacing: 0.48px;
}

.inputForm {
    width: 100%;
    height: 100%;
    border: 1px solid var(--inverted-bg-color);

    span:nth-child(1)  {
        display: flex;
        align-items: center;
        color: #f4a4a4;

        svg {
            width: .9rem;
            height: .9rem;
        }
    }

    & > span:nth-child(1) svg {
        display: flex;
        align-items: center;
        color: #000;
    }
}


.size_m {
    width: 100%;
    height: 50px;

    @media #{$tablets} { 
        height: 40px;
    }
    
    @media #{$mobile-devices-portrait} {
        max-width: 70%;
    }
    
    @media #{$mobile-devices-landscape} {
        max-width: 80%;
    }

      
    @media #{$small-mobile-devices-portrait} {
        max-width: 90%;
    }
}

.size_l {
    width: 640px;
    height: 82px;

    @media #{$large-displays} {
        max-width: 50%;
        height: 70px;
    }

    @media #{$tablets} {
        height: 60px;
    }

    @media #{$small-mobile-devices-portrait} {
        max-width: 100%;
        height: 40px;
    }
}

:global {
    [data-icon="close-circle"] {
        width: .7rem;
        height: .7rem;
        color: #4f2525
    }

    .css-dev-only-do-not-override-fpg3f5.ant-input-affix-wrapper .anticon.ant-input-password-icon svg {
        color: #272424
    }
}





