.customParagraph {
    margin-bottom: 15px;
    color: var(--p-color);
}

.size_m {
    font: var(--font-m-lato);
}

.size_l {
    font: var(--font-l-lato);
}

.size_xl {
    font: var(--font-xl-lato);
}