@import 'scss-variables';

.input {
    input::placeholder {
        color: rgb(114 112 112);
        letter-spacing: 2px;
    }
}

:global {
    .ant-btn > div > div {
        color: var(--primary-color);
    }

    span.ant-input-affix-wrapper.ant-input-affix-wrapper-focused.css-dev-only-do-not-override-fpg3f5{
        border-color: var(--inverted-bg-color);
    }

    .css-dev-only-do-not-override-fpg3f5.ant-btn.ant-btn-icon-only {
        width: 53px;
        height: 100%;

        font: var(--font-m-lato);
        line-height: 148%;
        text-transform: uppercase;
        letter-spacing: 1.4px;

        border: none;

        &:hover {
            border: 1px solid (--inverted-bg-color);
        }
    }

    .ant-input-affix-wrapper {
        > span.ant-input-suffix {
            svg {
                width: .7rem;
                height: .7rem;
                color: #f4a4a4;
            }

            @media #{$mobile-devices-portrait} {
                display: none !important;
            }        
        }
    } 

    .css-dev-only-do-not-override-fpg3f5.ant-btn.ant-btn-icon-only .anticon {
        font-size: 20px;
    }
    
    .css-dev-only-do-not-override-fpg3f5.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled) {
        border-color: transparent;
        border-color: #4a4545;

        &:focus {
            border-color: var(--inverted-bg-color);
        }

        &:hover {
            border-color: #595858;
        }
    }

    .css-dev-only-do-not-override-fpg3f5.ant-input-search .ant-input-search-button {
        height: 100%;
    }

    .css-dev-only-do-not-override-fpg3f5[class^="ant-input"], .css-dev-only-do-not-override-fpg3f5[class*=" ant-input"] {
        font: var(--font-m-lato);

        @media #{$tablets} {
            font: var(--font-s-lato);
        }
    }
}

.name,
.password {
    display: block;
    width: 100%;
    height: 100%;

    span > span:nth-child(2) > button {
         display: none !important;
    }
}

.subscribe {
    display: block;
    width: 494px;
    height: 53px;

    @media #{$tablets} { 
        width: 300px;
        height: 35px;
    }
    
    @media #{$mobile-devices-portrait} {
        width: 200px;
    }
}

.search {
    display: block;

    width: 290px;
    height: 53px;

    border: 1px solid #EEE;
    border-style: none;
    border-radius: 10px;
    box-shadow: var(--input-shadow);

    /* stylelint-disable */
    span {
        height: 100%;
        position: relative;

        [data-icon="close-circle"] {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-60%, -50%);
        }
    }

    & > span > span > span > span > span {
        display: flex;
        align-items: center;
    }

    & > span > span > span > span:nth-child(2) {
        display: flex;
        align-items: center;
    }

    span > span:nth-child(2) > button  {
        display: flex;
        justify-content: center;
        
        width: 53px;
        height: 100%;
        padding: 16px;
        
        font: var(--font-m-lato);
        line-height: 148%;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        
        background-color: #020202;
        
        transition: all var(--delay-transition);

        &:hover {
            background-color: #4a4545;
            transition: all var(--delay-transition);
        }

        & > span > span  {
            display: flex;
            align-items: center;
            background-color: inherit;
        }
    
        svg {
            color: #fff;
        }
    }

    @media #{$tablets} { 
        width: 200px;
        height: 40px;
    }
    
    @media #{$mobile-devices-portrait} {
        width: 150px;
        height: 30px;
    }
}
