@import 'scss-variables';

.sideBar {
    position: absolute;
    z-index: 1;
    top: var(--header-height);
    bottom: 0;
    left: 0;

    display: flex;
    display: none;
    flex-shrink: 0;
    justify-content: center;

    width: var(--side-bar-width);
    min-height: 100vh;

    background-color: yellow;

    transition: width 0.3s;

    @media #{$tablets} {
        display: block;
    }
}

.items {
    display: flex;
    flex-direction: column;
}

.link {
    display: flex;
    align-items: center;
}

.icon {
    fill: var(--inverted-primary-color);
}

.item {
    margin-left: 15px;
    opacity: 1;
    transition: all 0.2s;
}

.collapsedBtn {
    position: absolute;
    right: -35px;
    bottom: 32px;
}

.lang {
    margin-left: 20px;
}

.switchers {
    position: absolute;
    bottom: 30px;
    display: flex;
    align-items: center;
}

.collapsed {
    width: var(--side-bar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    .lang {
        margin-left: 0;
    }

    .item {
        width: 0;
        height: 0;
        opacity: 0;
        transition: all 0.2s;
    }

    .link {
        margin-bottom: 10px;
    }
}
