@import 'scss-variables';

.sideBar {
    position: fixed;
    z-index: var(--z-index-sidebar);
    top: var(--header-height);
    bottom: 0;
    left: 0;
    transform: translateX(-100%);

    display: none;

    width: var(--side-bar-width);
    max-height: 300px;

    background-color: var(--bg-color);
    border-right: 1px solid var(--inverted-bg-color);
    border-bottom: 1px solid var(--inverted-bg-color);

    transition: width var(--delay-transition), transform var(--delay-transition);

    &.collapsed {
        transform: translateX(0);
    }

    @media #{$tablets-landscape} {
        width: var(--side-bar-landscape-width);
    }
    
    @media #{$tablets} {
        display: block;
    }
}

.button {
    cursor: pointer;

    position: absolute;
    right: -30px;

    color: var(--inverted-primary-color);

    background-color: var(--inverted-bg-color);
}

.wrapper {
    min-height: 100%;
    padding-top: var(--header-height);
}

.direction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    min-height: 100%;
}


// .items {
//     display: flex;
//     flex-direction: column;
// }

// .link {
//     display: flex;
//     align-items: center;
// }

// .item {
//     margin-left: 15px;
//     opacity: 1;
//     transition: all 0.2s;
// }

// .collapsedBtn {
//     position: absolute;
//     right: -35px;
//     bottom: 32px;
// }

// .lang {
//     margin-left: 20px;
// }

// .switchers {
//     position: absolute;
//     bottom: 30px;
//     display: flex;
//     align-items: center;
// }

// .collapsed {
//     width: var(--side-bar-width-collapsed);

//     .switchers {
//         flex-direction: column;
//     }

//     .lang {
//         margin-left: 0;
//     }

//     .item {
//         width: 0;
//         height: 0;
//         opacity: 0;
//         transition: all 0.2s;
//     }

//     .link {
//         margin-bottom: 10px;
//     }
// }
