@import 'scss-variables';

.header {
    position: fixed;
    z-index: var(--z-index-header);
    top: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    
    width: 100%;
    height: var(--header-height);
    padding: 18px 0;

    background: var(--bg-color);
    box-shadow: var(--header-shadow);
}

.ant-switch-inner-unchecked {
    margin-top: -42px;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

:global {
    .ant-switch {
        width: 33px;
        height: 34px;
        border-radius: 100%;

        &.ant-switch-checked {
            background: #eef5ff;
        }
        
        .ant-switch-handle {
            width: 0;
            height: 0;
        }
    }

    .ant-switch.ant-switch-checked .ant-switch-inner {
        position: absolute;

        width: 60px;
        margin-top: -20px;
        padding-inline-start: 4px;
        padding-inline-end: 24px;
    }

    .ant-switch .ant-switch-inner .ant-switch-inner-checked {
        margin: 4px 1px -12px 3px;
        margin-inline-start: 4px;
        margin-inline-start: calc(-100% + 6px - 48px);
        margin-inline-end: calc(100% - 22px + 48px);

        &:hover {
            background-color: #000;
        }
    }

    .ant-switch .ant-switch-inner .ant-switch-inner-unchecked {
        margin-top: -25px;
        margin-inline-start: -13px;
        margin-inline-end: 0;
    }
}

.indentation {
    margin-right: 5px;
}

.icon {
    width: 30px;
    height: 30px;

    path {
        fill: var(--primary-color);
    }
}

.cart {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.avatar {
    cursor: pointer;
    display: flex;
    align-items: center;
    fill: var(--primary-color);
}

.moon {
    margin-top: -42px;

    svg {
        fill: #fff;
    }
}

.center {
    @media #{$tablets} {
        display: none;
    }
}

.align {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    svg {
        flex-shrink: 0;
    }
}
