.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height);
    background: var(--bg-color);
    box-shadow: var(--header-shadow);
    position: fixed;
    inset: 0;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    fill: var(--inverted-primary-color);
}

.right {
    margin-left: auto;
}

.logo {
    font-family: 'Jost', sans-serif;
    font-size: var(--font-size-logo);
    font-weight: 400;
}