.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height);
    background: var(--bg-color);
    box-shadow: var(--header-shadow);
    position: fixed;
    z-index: var(--header-index);
    inset: 0;
}

:global {
    .ant-switch {
        width: 33px;
        height: 34px;
        border-radius: 100%;

        &.ant-switch-checked {
            background: #eef5ff;
        }
        
        .ant-switch-handle {
            width: 0;
            height: 0;
        }
    }

    .ant-switch.ant-switch-checked .ant-switch-inner {
        padding-inline-start: 4px;
        padding-inline-end: 24px;
        position: absolute;
        width: 60px;
        margin-top: -20px;
    }

    .ant-switch .ant-switch-inner .ant-switch-inner-checked {
        margin-inline-start: 4px;
        margin: 4px 1px -12px 3px;
        margin-inline-start: calc(-100% + 6px - 48px);
        margin-inline-end: calc(100% - 22px + 48px);

        &:hover {
            background-color: #000;
        }
    }

    .ant-switch .ant-switch-inner .ant-switch-inner-unchecked {
        margin-top: -25px;
        margin-inline-start: -13px;
        margin-inline-end: 0;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    fill: var(--inverted-primary-color);
}

.right {
    display: flex;
    justify-content: center;
}

.logo {
    font-family: 'Jost', sans-serif;
    font-size: var(--font-size-logo);
    font-weight: 400;
}

.avatar {
    fill: var(--primary-color);
    cursor: pointer;
}

.circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 30px;
    background-color: var(--primary-color);

    svg {
        fill: var(--inverted-primary-color);
    }
}

.moon {
    margin-top: -42px;
    svg {
        fill: #fff;
    }
}

.ant-switch-inner-unchecked {
    margin-top: -42px;
    margin-inline-start: 0;
    margin-inline-end: 0;
}