
.myInputForm{
    span:nth-child(1)  {
        display: flex;
        align-items: center;
        color: #f4a4a4;

        svg {
            width: 1.2rem;
            height: 1.2rem;
        }
    }
}

.size_m {
    width: 310px;
    height: 62px;
}

.size_l {
    width: 640px;
    height: 62px;
}

