:root[data-theme='light'] {
    // * COLOR
    --accent-color: #72aec8;
    --p-color: #3a3a3a;
    --primary-color: #272727;
    --inverted-primary-color: #fff;
    --icon-social-color: #d7dddf;
    /* stylelint-disable-next-line */
    --inverted-color-rgba: rgba(158, 158, 158, 0.8);
    --primary-button-color: #fff;

    // * BUTTON SECONDARY
    --secondary-button-shadow: 0 6px rgb(48 44 41),
    0 3px 15px rgb(0 0 0 / 40%),
    inset 0 1px rgb(255 255 255 / 30%),
    inset 0 0 3px rgb(255 255 255 / 50%);
    --secondary-button-hover: rgb(47 44 42) linear-gradient(rgb(11 8 7), rgb(108 96 88) 80%);
    --secondary-button-active: rgb(41 34 29) linear-gradient(rgb(24 23 22) 20%, rgb(69 57 48));
    --secondary-button-shadow-active: 0 2px rgb(86 38 6),
    0 1px 6px rgb(0 0 0 / 40%),
    inset 0 1px rgb(255 255 255 / 30%),
    inset 0 0 3px rgb(255 255 255 / 50%);

    // * BUTTON PRIMARY
    --primary-button-shadow: 0 6px rgb(210 196 185),
    0 3px 15px rgb(0 0 0 / 40%),
    inset 0 1px rgb(255 255 255 / 30%),
    inset 0 0 3px rgb(255 255 255 / 50%);
    --primary-button-active: rgb(46 194 243) linear-gradient(rgb(239 224 224) 20%, rgb(104 185 236));
    --primary-button-shadow-active: 0 2px rgb(86 38 6),
    0 1px 6px rgb(0 0 0 / 40%),
    inset 0 1px rgb(255 255 255 / 30%),
    inset 0 0 3px rgb(255 255 255 / 50%);

    // * BUTTON SQARE
    --sqare-button-bg: #dcdcdc linear-gradient(#fff, #dcdcdc);
    --sqare-button-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
    --sqare-button-shadow-active: 0 0 0 1px #bbb inset, 0 1px 3px rgba(0 0 0 / 50%) inset, 0 1px 2px #fff;

    // * BUTTON SUBMIT
    --submit-button-bg: rgb(255 212 3) linear-gradient(rgb(255 212 3), rgb(248 157 23));
    --submit-button-border: 1px solid rgb(250 172 17);
    --submit-button-shadow: inset 0 -2px 1px rgba(0 0 0), inset 0 1px 2px rgb(0 0 0 / 0%), inset 0 0 0 60px rgb(255 255 0 / 0%);
    --submit-button-shadow-hover: inset 0 -1px 1px rgba(0 0 0), inset 0 1px 2px rgba(0 0 0), inset 0 0 0 60px rgb(255 255 0 / 50%);
    --submit-button-shadow-active: inset 0 -1px 1px rgba(0 0 0 / 10%), inset 0 1px 2px rgb(0 0 0 / 30%), inset 0 0 0 60px rgb(255 255 0 / 45%);
    --submit-button-border-active: rgba(177 159 10%);

    // * BUTTON SUBSCRIBE
    --subscribe-button-focus: #5fc6f2;
    --subscribe-button-active: #185a77;

    // * BACKROUND COLOR
    --bg-color: #fff;
    --inverted-bg-color: #383939;
    --icon-bg-color: #ebeff1;

    // * SHADOW
    --shadow-title: 0 4px 4px rgb(0 0 0 / 25%);
    --header-shadow: 0px 0px 14px 0px rgb(11 40 53 / 7%);
    --input-shadow: 0px 0px 44px 0px rgb(0 0 0 / 8%);

    // * HOVER
    --primary-hover: #aee3fa;
    --secondary-hover: #28282a;
    --ant-card-hoverable: 0 1px 2px -2px rgb(0 0 0 / 16%),0 3px 6px 0 rgb(0 0 0 / 12%),0 5px 12px 4px rgb(0 0 0 / 9%);
}
