/* stylelint-disable-next-line no-duplicate-selectors */
:root[data-theme='dark'] {
    --bg-color: #383939;
    --accent-color: #72aec8;
    --hover-color: #aee3fa;
    --p-color: #c3b1b1;
    --primary-color: #ffffff;
    --icon-social-color: #d7dddf;
    --icon-bg-color: #ebeff1;
}
