/* stylelint-disable-next-line no-duplicate-selectors */
:root[data-theme='dark'] {
    --bg-color: #383939;
    --accent-color: #72aec8;
    --hover-color: #aee3fa;
    --p-color: #c3b1b1;
    --primary-color: #ffffff;
    --icon-social-color: #d7dddf;
    --icon-bg-color: #ebeff1;
    --header-shadow: 0px 0px 14px 0px rgba(229, 237, 241, 0.07);
    --input-shadow: 0px 0px 44px 0px rgba(229, 237, 241, 0.07);
}
