/* stylelint-disable-next-line no-duplicate-selectors */
:root[data-theme="dark"] {
	--bg-color: #383939;
    --accent-color: #72AEC8;
    --p-color: #c3b1b1;
    --primary-color: #ffffff;
    --icon-social-color: #D7DDDF;
    --icon-bg-color: #ebeff1;
}