@import 'scss-variables';

.navBar {
    @media #{$tablets} {
        display: none;
    }
}


.list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
} 

.item {
    margin: 0;
    padding: 0;

    font: var(--font-m-lato);
    color: unset;
    list-style: none;

    transition: color .3s;

    &:not(:last-child) {
        margin-right: 10px;
    }

    a {
        color: inherit;
        text-transform: uppercase;
    }  

    @media #{$laptops} {
        font: var(--font-s-lato);
    }
}

.hover {
    color: var(--accent-color);
}

.active {
    color: var(--hover-color);
    transition: color var(--delay-transition);
}
