@import 'scss-variables';

.list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
} 

.item {
    margin: 0;
    padding: 0;  
    
    color: unset;
    list-style: none;

    transition: color .3s;

    &:not(:last-child) {
        margin-right: 10px;
    }

    a {
        font-size: inherit;
        color: inherit;
        text-transform: uppercase;
    }

    @media #{$laptops} {
        font: var(--font-s-lato);
    }

    @media #{$tablets} {
        margin-right: 0;
        font: var(--font-l-lato);
    }
}

.hover {
    color: var(--accent-color);
}

.active {
    color: var(--hover-color);
    transition: color var(--delay-transition);
}
