button {
    cursor: pointer;

    position: relative;

    overflow: hidden;
    display: inline-block;

    padding: 16px 50px;

    font: var(--font-m-lato);
    text-decoration: none;
    text-shadow: 0 -1px rgb(0 0 0 / 50%);
    text-transform: uppercase;
    letter-spacing: 1.4px;

    border: none;
    outline: none;
    
    transition: all var(--delay-transition);
    
    @media screen and ( width <= 992px ) {
        padding: 12px 30px;
    }
    
    @media screen and ( width <= 768px ) {
        letter-spacing: 1px;
    }
    
    @media screen and ( width <= 576px ) {
        padding: 8px 15px;
        letter-spacing: .5px;
    }
}

.secondary {
    user-select: none;

    display: inline-block;

    color: var(--inverted-primary-color);
    text-decoration: none;
    text-transform: uppercase;

    background: var(--inverted-bg-color);
    outline: none;
    box-shadow: var(--secondary-button-shadow);

    transition: all var(--delay-transition);

    &:hover,
    &:focus {
        background: var(--secondary-button-hover);
    }
    
    &:active {
        transform: translate(0, 4px);
        background: var(--secondary-button-active);
        box-shadow: var(--secondary-button-shadow-active);
    }
} 

  

.primary {
    user-select: none;

    display: inline-block;

    color: var(--primary-button-color);
    text-decoration: none;
    text-transform: uppercase;

    background: var(--accent-color);
    outline: none;
    box-shadow: var(--primary-button-shadow);

    transition: all var(--delay-transition);

    &:hover,
    &:focus {
        background: var(--primary-hover);
    }
    
    &:active {
        transform: translate(0, 4px);
        background: var(--primary-button-active);
        box-shadow: var(--primary-button-shadow-active);
    }
}

.circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 5px;

    background: var(--primary-color);
    border-radius: 100%;

    svg {
        fill: var(--inverted-primary-color);
    }
}

.sqare {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    padding: 0;
    
    color: var(--primary-color);

    background-color: transparent;
    border: 1px solid var(--inverted-bg-color);
    border-radius: 5px;

    &:hover,
    &:focus {
        background: var(--sqare-button-bg);
    }

    &:active {
        background: var(--sqare-button-bg);
        box-shadow: var(--sqare-button-shadow-active);
    }
}

.clear {
    padding: 0;
    background: transparent;
}

.submit {
    user-select: none;

    display: inline-block;

    padding: .25em .5em;

    font-size: 125%;
    font-weight: 700;
    color: black;
    text-decoration: none;

    background: var(--submit-button-bg);
    border: var(--submit-button-border);
    border-radius: 7px;
    outline: none;
    box-shadow: var(--submit-button-shadow);

    transition: box-shadow .2s, border-color .2s;

  &:hover,
  &:focus {
    box-shadow: var(--submit-button-shadow-hover);
  }

  &:active {
    padding: calc(.25em + 1px) .5em calc(.25em - 1px);
    border-color: var(--submit-button-border-active);
    box-shadow: var(--submit-button-shadow-active);
  }
}
