.button {
    cursor: pointer;

    position: relative;

    overflow: hidden;

    width: auto;
    max-height: 53px;
    padding: 16px 46px;

    font: var(--font-m-lato);
    text-transform: uppercase;

    border: none;
    outline: none;

    transition: background color var(--delay);
}

.secondary {
    // max-width: 292px;
    color: var(--inverted-primary-color);
    background: var(--inverted-bg-color);

    &:hover {
        color: var(--button-primary-color);
        background: var(--hover-secondary-color);
        transition: all var(--delay);
    }
}

.primary {
    max-width: 176px;
    color: var(--button-primary-color);
    background: var(--accent-color);

    &:hover {
        background: var(--hover-primary-color);
        transition: all var(--delay);
    }
}

.circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 5px;

    background: var(--primary-color);
    border-radius: 100%;

    svg {
        fill: var(--inverted-primary-color);
    }
}

.sqare {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    padding: 0;
    
    color: var(--primary-color);

    background-color: transparent;
    border: 1px solid var(--inverted-bg-color);
}

.clear {
    padding: 0;
    background: transparent;
}

