@import 'scss-variables';

.container {
    width: 100%;
    max-width: 156rem;
    margin: 0 auto;
    padding: 0 2rem; 

    /* stylelint-disable */
    @media #{$mobile-devices-portrait} {
        padding: 0 1rem; 
    }
}

