.switcherTheme {
    display: flex;
    align-items: center;
}

.svg {
    width: 30px;
    height: 30px;
    transition: all .3s;
}

.moon {
    color: #171716;
}

.sunny {
    color: var(--primary-color);
}