.input {
    input::placeholder {
        color: rgb(114, 112, 112);
        letter-spacing: 2px;
    }
}

:global {
    .ant-btn > div > div {
        color: var(--primary-color);
    }
    .ant-btn {
        border: none;
    }
}

.search {
    border: 1px solid #EEE;
    box-shadow: var(--input-shadow);
    border-radius: 10px;
    border-style: none;

    span > span:nth-child(2) > button  {
        background-color: #020202;
        padding: 16px;
        width: 53px;
        height: 100%;
        display: flex;
        justify-content: center;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 148%;
        letter-spacing: 1.4px;
        text-transform: uppercase;

        &:hover {
            background-color: #4f4c4c;
        }

        & > span > span  {
            display: flex;
            align-items: center;
            background-color: inherit;
        }
    
        svg {
            color: #ffffff;
        }
    }

    span {
        height: 100%;
    }

    svg {
        width: 1.2rem;
        height: 1.2rem;
        color: #f4a4a4;
    }

    & > span > span > span > span:nth-child(2) {
        display: flex;
        align-items: center;
    }

    & > span > span > span > span > span {
        display: flex;
        align-items: center;
    }
}

.subscribe {
    span {
        height: 100%;
        display: flex;
        align-items: center;
    }

    svg {
        width: 1.2rem;
        height: 1.2rem;
        color: #f4a4a4;
    }

    span > span:nth-child(2) > button {
        height: 100%;
        padding: 16px;
        width: 166px;
        display: flex;
        justify-content: center;
        background-color: var(--accent-color);
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 148%;
        letter-spacing: 1.4px;
        text-transform: uppercase;
    }
}

.size_m {
    max-width: 290px;
    height: 53px;
}

.size_l {
    width: 494px;
    height: 53px;
    font-size: 20px;
}

