.select {
    width: 50px;
    height: auto;
}

:global {
    .ant-select-selector {
        padding: 0 5px !important;
    }

    .ant-select-item-option-selected {
        background-color: #f9eb2b !important;
    }
}